<div class="container">
    <img src="/img/burger2.png">
    <div class="row">
        <div class="col-md-12">
            <h1>Burgers!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Burgers Not Devoured</h3>
            <ul>
                {{#each burger}}
                {{#unless devoured}}
                <h4>{{burger_name}}</h4><button class="devour" data-id="{{id}}">Devour!</button>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Burgers Devoured</h3>
            <ul>
                {{#each burger}}
                {{#if devoured}}
                <h4>{{burger_name}}</h4>
                {{/if}}
                {{/each}}
            </ul>
        </div>
        
    </div>
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burg" name="burger_name">
        </div>

        <button id="burgSubmit" type="submit">Add Burger</button>
    </form>
    <br><br>

</div>